// GLOBAL VARIABLES

// FONTS

// Symbud logo font
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
// font-family: 'Noto Sans KR', sans-serif;

// Poppins buttons / slightly bold
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
// font-family: 'Poppins', sans-serif;

// Default font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Source+Sans+Pro&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
}

// Colors

:root {
  --dark-blue: #284B63;
  --blue: #3C6E71;
  --grey: #D9D9D9;
  --dark-grey: #353535;
}
