.Register {
  display: flex;
  flex-flow: column;
  padding-top: 25px;
  align-items: center;
  height: calc(100vh - 70px);
  overflow-y: scroll;
  .MuiButton-containedPrimary {
    background-color: var(--dark-grey);
    &:hover {
      background-color: var(--dark-grey);
    }
  }
  form {
    max-width: 500px;
    width: 80%;
    .MuiFormControlLabel-root {
      margin-top: 15px;
      width: 100%;
    }
    .MuiInputBase-root {
      width: 100%;
    }
  }
  .form-title {
    display: flex;
    flex-flow: column;
    align-items: center;
    h3 {
      text-align: center;
    }
    svg {
      padding: 5px;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background-color: rgb(220, 0, 78);
    }
  }
  .MuiTextField-root {
    margin-top: 15px;
    width: 100%;
  }
  button {
    margin-top: 25px;
    width: 100%;
  }
  .form-extra {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 500px;
    width: 80%;
    margin-top: 25px;
    padding-bottom: 20px;
    button {
      margin-top: 0;
      width: fit-content;
      padding: 0;
      color: #1976d2;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .more-info {
    font-style: italic;
    font-size: 0.9rem;
    color: var(--dark-grey);
    display: block;
  }
  .leter-counter.danger {
    color: red;
  }
  .leter-counter {
    color: var(--dark-grey);
  }
  .MuiFormControl-root {
    display: block;
  }
  .MuiOutlinedInput-root {
    min-width: 150px;
  }
}