.SignIn {
  display: flex;
  flex-flow: column;
  padding-top: 10%;
  align-items: center;
  height: calc(100vh - 70px);
  overflow-y: scroll;
  .alert-cont.open {
    display: block;
    margin-top: 15px;
  }
  .alert-cont {
    display: none;
  }
  form {
    width: 80%;
  }
  .form-title {
    display: flex;
    flex-flow: column;
    align-items: center;
    h3 {
      text-align: center;
    }
    svg {
      padding: 5px;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background-color: rgb(220, 0, 78);
    }
  }
  .MuiButton-containedPrimary {
    background-color: var(--dark-grey);
    &:hover {
      background-color: var(--dark-grey);
    }
  }
  .MuiTextField-root {
    margin-top: 25px;
    width: 100%;
  }
  button {
    margin-top: 25px;
    width: 100%;
  }
  .form-extra {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin-top: 25px;
    padding-bottom: 20px;
    button {
      margin-top: 0;
      width: fit-content;
      padding: 0;
      color: #1976d2;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}