.WelcomeNav {
  display: flex;
  grid-row: 1 / 2;
  width: 100%;
  height: 70px;
  background-color: var(--dark-grey);
  justify-content: flex-end;
  z-index: 2;
  h1 {
    position: absolute;
    font-size: 2rem;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 0;
    width: 160px;
    height: 2rem;
    align-items: center;
    text-align: center;
    line-height: 1;
    top: calc(35px - 1rem);
    left: calc(50vw - 80px);
    @media only screen and (max-width: 576px) {
      left: 10px;
    }
  }
  .MuiButton-root {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    height: max-content;
    margin: auto 0;
    float: right;
    color: white;
    @media only screen and (max-width: 300px) {
      width: 50px;
      padding: 6px 0;
    }
  }
  .MuiButton-label {
    @media only screen and (max-width: 300px) {
      width: inherit;
    }
  }
  button:last-of-type {
    margin-right: 8px;
    color: var(--pink);
  }
}